<%- include('partials/header'); -%>

    <header>
        <div class="smoothie">
            <img src="/milkshake.png" alt="">
        </div>
        <div class="headings">
            <h2>Milkshakes</h2>
            <h3>By Cold Stone Creamery</h3>
            <a href="/milkshakes" class="btn">View Recipes</a>
        </div>
    </header>


    <%- include('partials/footer'); -%>