<%- include('partials/header'); -%>

    <ul class="recipes">
        <li class="recipe">
            <img src="/milkshake.png" alt="milkshake recipe icon">
            <h4>Very Strawberry</h4>
            <p>Blend 1/2 pound fresh strawberries, 1 tablespoon sugar, 1 teaspoon vanilla extract, 1 pint vanilla ice cream, 1/2 cup milk</p>
        </li>
        <li class="recipe">
            <img src="/choc-shake.png" alt="milkshake recipe icon">
            <h4>Chocolate</h4>
            <p>Blend 1 pint chocolate ice cream, 1 1/4 cups whole milk, 1/4 cup all-natural chocolate sauce (such as King's Cupboard chocolate sauce)</p>
        </li>
        <li class="recipe">
            <img src="/vanilla.png" alt="milkshake recipe icon">
            <h4>Cherry Vanilla</h4>
            <p>Blend 1 pint cherry vanilla ice cream, 1 1/2 cups whole milk, 1/2 cup frozen pitted dark sweet cherries, 1/2 teaspoon vanilla extract
            </p>
        </li>
        <li class="recipe">
            <img src="/pb.png" alt="milkshake recipe icon">
            <h4>Peanut Butter</h4>
            <p>Blend 1 pint vanilla ice cream, 1 1/2 cups whole milk, 1/4 cup creamy peanut butter, 1 teaspoon vanilla extract</p>
        </li>
        <li class="recipe">
            <img src="/peppermint.png" alt="milkshake recipe icon">
            <h4>Haagen-Dazs Peppermint Bark Float</h4>
            <p>1 carton of Häagen-Dazs® Peppermint Bark Ice Cream, 1/2 cup cocoa powder (dutch processed with alkali), 1/2 cup sugar 4 ounces dark chocolate, 1/2 teaspoon kosher salt, & 2 cups whole milk</p>
        </li>
    </ul>

    <%- include('partials/footer'); -%>